section
  h1 What is "Program"?
  hr

  br
  p.fragment A program is an <em>abstract</em> <u>state machine</u>.
  br
  p.fragment A <u>behavior</u> of a state machine is a sequence of states.
  br
  p.fragment A <u>state</u> is an assignment of all variables.
  br
  p.fragment A <u>variable</u> is an <u>object</u> in computer memory.

section
  h1 State Machines
  hr

  br
  img(src = "./0-intro/figs/button-state-machine.jpg",
      alt = "State Machine for Buttons",
      width = 400, height = auto)

section
  h1 State Machines
  hr

  br
  img(src = "./0-intro/figs/vending-state-machine.png",
      alt = "State Machine for Beverage Vending Machine",
      width = 500, height = auto)

section
  p C is a <span class="hl">imperative</span> programming language.
  p (Imperative: 命令式的)