section
  h1 What is "Program"?
  hr

  br
  p.fragment A program is an <em>abstract</em> <u>state machine</u>.
  br
  p.fragment A <u>behavior</u> of a state machine is a sequence of states.
  br
  p.fragment A <u>state</u> is an assignment of all variables.
  br
  p.fragment A <u>variable</u> is an <u>object</u> in computer memory.

section
  h1 State Machines
  hr

  br
  img(src = "./0-intro/figs/button-state-machine.jpg",
      alt = "State Machine for Buttons",
      width = 400, height = auto)

section
  h1 State Machines
  hr

  br
  img(src = "./0-intro/figs/vending-state-machine.png",
      alt = "State Machine for Beverage Vending Machine",
      width = 500, height = auto)

section
  p C is a <span class="hl">imperative</span> programming language.
  p (Imperative: 命令式的)

//- Why C?
section
  h2 Why C?
  hr

  br
  img(src = "./0-intro/figs/pl.jpg" alt = "PL"
      width = 700 height = auto)
  p Hundreds of programming languages

section
  h2 C is General-Purpose
  hr

  br
  <div class="row">
    <div class="column">
      img(src = "./0-intro/figs/linux-c.png" alt = "Linux in C"
        width = 600 height = auto)
    </div>
    <div class="column">
      img(src = "./0-intro/figs/honor-of-kings.jpg", alt = "Honor of Kings",
          width = 600, height = auto)
    </div>
  </div>

  p In principle, you can do whatever you want using C.

section
  h2 C is (still) Popular
  hr

  img(src = "./0-intro/figs/PL-IEEE.png" alt = "PL IEEE"
      width = 500 height = auto)

section
  h2 "Spirit of C"
  hr

  br
  p(class = "r-fit-text") "Keep the language small and simple."

  br
  br
  p.fragment What you see <em>is</em> what you get. &emsp; (<code>a + b</code>)

section
  h2 "Spirit of C"
  hr

  br
  p "Don't prevent the programmer from doing what needs to be done."

  br
  br
  p.fragment ???

section
  h2 "Spirit of C"
  hr

  br
  p "Make it <mark>fast</mark>, even if it is not guaranteed to be <mark>portable</mark>."


//- How to learn?
section
  h2 How to Learn?
  hr

  img(src = "./0-intro/figs/keep-calm-dont-panic.jpg" alt = "Keep Calm and Don't Panic"
    width = 400 height = auto)

  p Beginners are welcome!


section
  h2 How to Learn?
  hr

  br
  p 20% theory + 80% coding
  img(src = "./0-intro/figs/theory-practice.jpeg" alt = "Theory vs. Practice"
      width = 500, height = auto)
  p(class = "r-fit-text") I can teach you theory; but I cannot write code for you.

section
  h2 How to Learn?
  hr

  br
  img(src = "./0-intro/figs/step-by-step.jpg" alt = "Step by Step"
    width = 500 height = auto)

  p Don't expect to learn everything at once.
  p (<code>pointers: *</code>)

section
  h2 Dev-C++
  hr

  p Open Source C/C++ IDE for Windows
  img(src = "./0-intro/figs/DevC++.jpg" alt = "The C Programming Language"
      width = 600 height = auto)

  p
    a(class='button' href='https://www.bilibili.com/video/BV1sP4y1p7n5') <small>Wins-DevC++ @ bilibili</small>

section
  h2 Hello World
  hr

  pre
    code(class="lang-c")
      script(type="text/template").
        #include <stdio.h>

        int main() {
          printf("Hello World");
          return 0;
        }

section
  h2 Comments
  hr

  img(src = "./0-intro/figs/less-comments.jpeg" alt = "Less Comments"
    width = 400 height = auto)

  p Replace verbose comments with clear code.

section
  h2 How to Learn?
  hr

  br
  img(src = "./0-intro/figs/gates-programming.jpeg" alt = "Bill Gates on Programming",
      width = 800 height = auto)