section
  h1(style="font-variant: small-caps") Pointers; Structures
  hr

  br
  h4 Hengfeng Wei
  h4 <u>hfwei@nju.edu.cn</u>

  img(src = "./10-struct/figs/C.png", alt = "The C Programming Language",
      width = 200, height = auto)
  p Dec. 13, 2021

section
  h2 Review
  hr

  img(src = "./10-struct/figs/C-Pointers.png", alt = "C Pointers",
      width = 1200, height = auto)
  p <code>string.h</code>
  p Pointer Arrays &emsp; Pointers and 2D Arrays

section
  h2 Overview
  hr

  p Program Arguments &emsp; Function Pointer
  img(src = "./10-struct/figs/c-struct.png", alt = "C Struct",
      width = 600, height = auto)
  p <code>struct</code> &emsp; <code>union</code> &emsp; <code>enum</code>

section
  h2(class = "r-fit-text" style="font-variant: small-caps") "Talk is Cheap. Show me the Code."
  hr

  br
  img(src = "./10-struct/figs/coding.png" alt = "Let's Code" width = 800 height = auto)