section
  h1(style="font-variant: small-caps") Loops
  hr

  br
  h4 Hengfeng Wei
  h4 <u>hfwei@nju.edu.cn</u>

  //- br
  img(src = "./4-loops/figs/C.png", alt = "The C Programming Language",
      width = 200, height = auto)
  p Nov. 01, 2021

section
  h2 No Plagiarism!!!
  hr

  br
  img(src = "./4-loops/figs/plagiarism.jpg" alt = "Plagiarism"
    width = 800 height = auto)

section
  h2 No Plagiarism!!!
  hr

  br
  p 第一次作业抄袭现象<mark>触目惊心</mark>
  br
  p.fragment 助教们敦促蚂老师召开了<mark>紧急磋商会议</mark>
  br
  p.fragment 会上大家对作业进行了<mark>反思</mark>, 并制定了<mark>严厉的抄袭处罚措施</mark>

section
  h2 No Plagiarism!!!
  hr

  br
  br
  ul
    li 当次作业计 $0$ 分
    br
    li.fragment 前两次抄袭<mark>总评</mark>各扣 $10$ 分
    br
    li.fragment 第三次抄袭总评直接判为<mark>不及格</mark> $\;(\times\; 60\%)$

section
  h2 No Plagiarism!!!
  hr

  br
  br
  p 助教与第一次作业(疑似)抄袭的同学进行了<mark>亲切友好的交谈</mark>
  br
  p.fragment 口头警告, 算作一次抄袭记录, 不作总评扣分处理

section
  h2 Review
  hr

  br
  br
  h3 For Statement (More Examples)
  br
  h3 While (Do-While) Statement
  br
  h3 <code>break</code>

section
  h2 Overview
  hr

  br
  br
  h3 Loops (More Examples)
  br
  h3 Multidimensional Arrays (多维数组)
  br
  h3 <code>continue, goto</code>

section
  h2(class = "r-fit-text" style="font-variant: small-caps") "Talk is Cheap. Show me the Code."
  hr

  br
  //- img(src = "./4-loops/figs/let-us-code.png" alt = "Keep Calm and Let us Code"
  //-   width = 200 height = auto)
  img(src = "./4-loops/figs/coding.png" alt = "Let's Code"
    width = 800 height = auto)

//- Coding
section
  h2 Merge
  hr

  br
  img(src = "./4-loops/figs/merge-arrays.png" alt = "Merge Two Sorted Arrays"
    width = 900 height = auto)
  p <code>merge.c</code>

section
  h2 Bubble Sort
  hr

  br
  img(src = "./4-loops/figs/bubble-sort-wiki.gif" alt = "Bubble Sort"
    width = 700 height = auto)
  p <code>bubble-sort.c</code>

section
  h2 Conway's Game of Life
  hr

  p John Horton Conway ($1937 \sim 2020$)
  img(src = "./4-loops/figs/Conway.jpg" alt = "Conway"
    width = 500 height = auto)
  p
    a(class = "button" href = "https://playgameoflife.com/") playgameoflife.com

section
  h2 Conway's Game of Life
  hr

  br
  ul.fragment
    li Any <mark>live</mark> cell with two or three live neighbours survives.
    li All other live cells die in the next generation.
  br
  br
  ul.fragment
    li Any <mark>dead</mark> cell with three live neighbours becomes a live cell.
    li All other dead cells stay dead.
  br
  br
  p
    a(class = "button" href = "https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life") Conway's Game of Life @ wiki

section
  h2 Conway's Game of Life
  hr

  video(width = '700' height = '500' controls)
    source(src = './4-loops/videos/Conway-Game-of-Life.mp4#t=63' type='video/mp4')
    | Your browser does not support the video tag.
  p <code>game-of-life.c</code>

section
  h2 Counting
  hr

  br
  img(src = "./4-loops/figs/counting.jpg" alt = "Counting"
    width = 700 height = auto)
  br
  p <code>counting-if.c &emsp; counting-switch.c</code>

section
  h2 Jump Statements
  hr

  br
  img(src = "./4-loops/figs/goto-harmful.png" alt = "Goto"
    width = 400 height = auto)
  br
  p <code>break &emsp; continue &emsp; goto</code>