/* @theme 2022cpl */

@import 'gaia';

section {
  justify-content: start;
}

del {
  text-decoration: line-through;
  background-color: rgb(255, 0, 0);
  color: #555;
}

ins {
  text-decoration: none;
  background-color: #bcecfc;
}

/* from https://gist.github.com/jdbrice/3478cbf98acfd936f9e32d645376ebe5 */
figure {
  display: inline-block;
  /* border: 1px dotted gray; */
  margin: 20px; /* adjust as needed */
}
figure img {
  vertical-align: top;
}
figure figcaption {
  /* border: 1px dotted blue; */
  text-align: center;
}

#small-caps {
  font-variant-caps: small-caps;
  font-size: 130%;
}