section
  h1(style="font-variant: small-caps") Introducing C
  hr

  br
  h4 Hengfeng Wei
  h4 <u>hfwei@nju.edu.cn</u>

  //- br
  img(src = "./0-intro/figs/C.png", alt = "The C Programming Language",
      width = 200, height = auto)
  p Sep. 21, 2021

section
  h2 What is C?
  hr

  br
  p.fragment C is a computer programming language.
  br
  p.fragment You communicate with computers via programming languages.

section
  h2 What is C?
  hr

  br
  p Programming is <em>NOT</em> about languages.
  br
  p.fragment So programming is not about C.
  br
  p.fragment You learn C to express YOUR IDEAS.

section
  h2 What is C?
  hr

  br
  img(src = "./0-intro/figs/gates-programming.jpeg",
      alt = "Bill Gates on Programming",
      width = 700, height = auto)

section
  h2 What is C?
  hr

  br
  p C is much <em>easier</em> to learn than any human languages.
  img(src = "./0-intro/figs/easy.png",
      alt = "Logo: easy",
      width = 500, height = auto)

//- section
//-   h2 How to Learn Programming?
//-   hr

//-   img(src = "./0-intro/figs/code-think.png",
//-       alt = "Code vs. Think",
//-       width = 400, height = auto)

//- section
//-   h1 What is "Program"?
//-   hr

//-   br
//-   p.fragment A program is an <em>abstract</em> <u>state machine</u>.
//-   br
//-   p.fragment A <u>behavior</u> of a state machine is a sequence of states.
//-   br
//-   p.fragment A <u>state</u> is an assignment of all variables.
//-   br
//-   p.fragment A <u>variable</u> is an <u>object</u> in computer memory.

//- section
//-   h1 State Machines
//-   hr

//-   br
//-   img(src = "./0-intro/figs/button-state-machine.jpg",
//-       alt = "State Machine for Buttons",
//-       width = 400, height = auto)

//- section
//-   h1 State Machines
//-   hr

//-   br
//-   img(src = "./0-intro/figs/vending-state-machine.png",
//-       alt = "State Machine for Beverage Vending Machine",
//-       width = 500, height = auto)

section
  h2 Why C?
  hr

  br
  img(src = "./0-intro/figs/pl.jpg",
      alt = "PL",
      width = 700, height = auto)

section
  h2 Why C?
  hr

  img(src = "./0-intro/figs/PL-IEEE.png",
      alt = "PL IEEE",
      width = 500, height = auto)

section
  h2 Why C?
  hr

  ul
    li Simple

section
  h2 Why C?
  hr

  ul
    li relatively low-level
    li portable

//- section
//-   p C is a <span class="hl">imperative</span> programming language.
//-   p (Imperative: 命令式的)

section
  h2 C Programming: <br> A Modern Approach
  hr

  img(src = "./0-intro/figs/modern-c.jpg", alt = "The C Programming Language",
      width = 400, height = auto)

section
  h2 C Primer Plus
  hr

  img(src = "./0-intro/figs/c-primer-plus.jpeg", alt = "The C Programming Language",
      width = 400, height = auto)

section
  h2 Cert C
  hr

section
  h2 Cert C
  hr

  p Google vs. HuaWei

section
  h2 考核方式
  hr

  br
  ul
    li.fragment
      del 考勤
    li.fragment
      del 期中测试
    li.fragment
      del 期末笔试
    li.fragment
      ins 期末机试 (30 分)
    li.fragment
      ins 编程练习 (70 分)
    li.fragment
      ins 奖励分数 (10 分)

  br
  br
  p.fragment 编程练习: 每周基础训练 (50 分) + 学期项目训练 (20 分)

section
  h2 How to Learn C?
  hr

  br
  p 螺旋式、循序渐进 (不要指望一下子理解一个完整的概念)

section
  h2 How to Learn C?
  hr

  br
  img(src = "./0-intro/figs/theory-practice.jpeg" alt = "Theory vs. Practice"
      width = 600, height = auto)

section
  h2 How to Learn C?
  hr

  p QQ群、助教、潜水员; 教学立方
  p problemoverflow.cn

section
  h2 GitHub Classroom

section
  br
  br
  img(src = "./0-intro/figs/lets-code.jpeg",
      alt = "Let's Code",
      width = 600, height = auto)

section
  h2 CLion
  hr

  p A cross-platform IDE for C and C++
  img(src = "./0-intro/figs/CLion2021.png", alt = "The C Programming Language",
      width = 800, height = auto)

  ul
    li
      a(class='button' href='https://www.bilibili.com/video/BV1GP4y1x7EH?share_source=copy_web') <small>Wins-CLion-助教-熊丘桓 @ bilibili</small>
    li
      a(class="button" href="https://www.bilibili.com/video/BV1o44y117Zt") <small>macOS-CLion-助教-肖江@bilibili</small>

section
  h2 Dev-C++
  hr

  p Open Source C/C++ IDE for Windows
  img(src = "./0-intro/figs/DevC++.jpg",
      alt = "The C Programming Language",
      width = 600, height = auto)

  ul
    li

section
  h2 Hello World
  pre
    code(class="lang-c")
      script(type="text/template").
        #include <stdio.h>

        int main() {
          printf("Hello World");
          return 0;
        }

section
  h2 Game: Guessing the Number
  hr

  img(src = "./0-intro/figs/guess-the-number.png",
      alt = "Guess the Number",
      width = 500, height = auto)

  p
    a(class = "button" href = "https://www.abcya.com/games/guess_the_number") Guess the Number

section
  h2

  br
  img(src = "./0-intro/figs/see-you.jpeg",
      alt = "See you Next Week",
      width = 400, height = auto)