section
  h1(style="font-variant: small-caps") Introducing C
  hr

  br
  h4 Hengfeng Wei &thinsp; (魏恒峰)
  h4 <u>hfwei@nju.edu.cn</u>

  img(src = "./0-intro/figs/C.png", alt = "The C Programming Language",
      width = 200, height = auto)
  p Sep. 27, 2021

section
  h2 Questionnaire
  hr

  br
  img(src = "./0-intro/figs/25-75.jpg" alt = "25% vs. 75%"
    width = 450 height = auto)
  br
  p $75\%$ of students are new to programming.

section
  h2 To C Beginners
  hr

  br
  img(src = "./0-intro/figs/donot-panic.jpg" alt = "Do not Panic"
    width = 500 height = auto)

section
  h2 From Beginners to Masters
  hr

  br
  br
  h2(style="font-variant: small-caps") Programming
  br
  h2(style="font-variant: small-caps") De-programming

//- What is C?
section
  h2 What is C?
  hr

  br
  br
  p C is a <em>computer</em> programming language (PL).
  br
  p You communicate your <mark>ideas</mark> to computers via PLs.

section
  h2 What is C?
  hr

  br
  p Programming is <em>NOT</em> (only) about languages.
  br
  p.fragment Programming is not about C.
  br
  p.fragment You learn C to express <mark>YOUR IDEAS</mark>.

//- how to learn
section
  h2 How to Learn (1)?
  hr

  br
  img(src = "./0-intro/figs/code-think.png" alt = "Code vs. Think"
    width = 500 height = auto)

section
  h2 How to Learn (2)?
  hr

  br
  img(src = "./0-intro/figs/maiyouweng.jpeg" alt = "MaiYouWeng",
      width = 600 height = auto)
  p "无他, 但手熟尔"

section
  h2 How to Learn (3)?
  hr

  br
  img(src = "./0-intro/figs/fail-early-fail-often.png" alt = "Fail Early Fail Often"
    width = 700 height = auto)
  p How many <mark><em>bugs</em></mark> have you ever produced?

//- Books
section
  h2 C Programming: <br> A Modern Approach
  hr

  <div class="row">
    <div class="column">
      img(src = "./0-intro/figs/modern-c-ch.png" alt = "C Modern Approach Chinese",
        width = 350 height = auto)
    </div>
    <div class="column">
      img(src = "./0-intro/figs/modern-c-en.jpg" alt = "C Modern Approach English",
        width = 400, height = auto)
    </div>
  </div>

section
  h2 C Primer Plus
  hr

  <div class="row">
    <div class="column">
      img(src = "./0-intro/figs/c-primer-plus-ch.jpg" alt = "C Primer Plus Chinese",
        width = 400, height = auto)
    </div>
    <div class="column">
      img(src = "./0-intro/figs/c-primer-plus-en.jpg" alt = "C Primer Plus English",
        width = 400, height = auto)
    </div>
  </div>

section
  h2 K&R C Bible
  hr

  br
  <div class="row">
    <div class="column">
      img(src = "./0-intro/figs/KR.jpg" alt = "The C Programming Language K&R",
        width = 360, height = auto)
    </div>
    <div class="column">
      img(src = "./0-intro/figs/KandR-answer.jpg" alt = "The C Answer Book",
        width = 320, height = auto)
    </div>
  </div>

section
  h2 K&R
  hr

  br
  p Brian W. Kernighan (1942 ~)
  img(src = "./0-intro/figs/KandR.jpg" alt = "KandR",
    width = 600, height = auto)
  p Dennis M. Ritchie (1941 ~ 2011)

//- Scores
section
  h2 Examination and Scores
  hr

  br
  ul
    li.fragment
      del 考勤
    li.fragment
      del 期中测试
    li.fragment
      del 期末笔试
    li.fragment
      ins 期末机试 (30 分)
    li.fragment
      ins 编程练习 (70 分)
    li.fragment
      ins 奖励

  br
  p.fragment 编程练习: 每周基础训练 (40 分) + 学期项目 (30 分; 2 个)

section
  h2 Q&A
  hr

  br
  img(src = "./0-intro/figs/ask-me-anything.png" alt = "Ask Me Anything"
    width = 600 height = auto)

//- let's code
section
  br
  br
  img(src = "./0-intro/figs/lets-code.jpeg" alt = "Let's Code"
    width = 600 height = auto)

section
  h2 CLion
  hr

  br
  img(src = "./0-intro/figs/CLion2021.png" alt = "CLion"
    width = 800 height = auto)
  p "你有你的选择, 而我选择 CLion"

section
  h2 Hello World (K&R C)
  hr

  img(src = "./0-intro/figs/hello-world-kandr.jpg" alt = "Hello World in KandR C"
    width = 500 height = auto)

section
  h2 Hello World (Standard C)
  hr

  br
  pre
    code(class="lang-c")
      script(type="text/template").
        #include <stdio.h>

        int main() {
          printf("Hello World\n");
          return 0;
        }

section
  h2 Brief History of C
  hr

  br
  img(src = "./0-intro/figs/c-history.jpg" alt = "History of C"
    width = 1400 height = auto)

  p You do <em>not</em> have to become a <em>language lawyer</em>.

section
  h2 Brief History of C
  hr

  br
  img(src = "./0-intro/figs/thompson-ritchie.jpg" alt = "Thompson and Ritchie"
    width = 800 height = auto)
  p Turing Award (1983)
  //- p "for their development of generic operating systems theory and specifically for the implementation of the UNIX operating system"

section
  h2 Game: Guess the Number
  hr

  img(src = "./0-intro/figs/guess-the-number.png",
      alt = "Guess the Number",
      width = 500, height = auto)

  p
    a(class = "button" href = "https://www.abcya.com/games/guess_the_number") Guess the Number

section
  h2 Game: Guess the Number
  hr

  img(src = "./0-intro/figs/programming-is-thinking.jpg" alt = "Quote: Programming is Thinking, not Typing",
    width = 500 height = auto)

  p You think. I will type it for you.

section
  h2 How to Obtain a Random Number?
  hr

  br
  img(src = "./0-intro/figs/random-range.jpg" alt = "Generate a Random Number in Given Range",
    width = 800 height = auto)

section
  h2 How to Obtain a Random Number?
  hr

  br
  img(src = "./0-intro/figs/getRandomNumber.jpeg" alt = "getRandomNumber",
    width = 800 height = auto)

section
  h2 How to Obtain a Random Number?
  hr

  img(src = "./0-intro/figs/cpp-random.png" alt = "rand() on cppreference",
    width = 900 height = auto)
  p
    a(class = "button" href = "https://en.cppreference.com/w/c") https://en.cppreference.com/w/c

section
  h2 Code Style
  hr

  br
  <div class="row">
    <div class="column">
      img(src = "./0-intro/figs/code-style-braces.png" alt = "Code Style: Braces"
        width = 300 height = auto)
      p Braces
    </div>
    <div class="column">
      video(width = '600' height = '400' controls)
        source(src = './0-intro/videos/tabs-vs-spaces.mp4' type='video/mp4')
        | Your browser does not support the video tag.
      //- img(src = "./0-intro/figs/code-style-tab-vs-space.png" alt = "Code Style: Tab vs. Space"
      //-   width = 500 height = auto)
      p Tabs vs. Spaces
    </div>
  </div>
  p
    a(class = "button" href = "https://www.jetbrains.com/help/clion/code-style-c-c.html") Code Style in CLion

section
  h2 Programming Style Guide
  hr

  br
  <div class="row">
    <div class="column">
      img(src = "./0-intro/figs/google-styleguide.png" alt = "Google C++ Style Guide"
        width = 750 height = auto)
      p
        a(class = "button" href = "https://google.github.io/styleguide/") Google Style Guides
    </div>
    <div class="column">
      img(src = "./0-intro/figs/huawei-c.png" alt = "HuaWei C Programming Style"
        width = 450 height = auto)
      p
        a(class = "button" href = "https://github.com/courses-at-nju-by-hfwei/c-pl-resources/blob/main/books/%E5%8D%8E%E4%B8%BAC%E8%AF%AD%E8%A8%80%E7%BC%96%E7%A8%8B%E6%8C%87%E5%8D%97.pdf") 华为C语言编程指南.pdf
    </div>
  </div>

section
  h2 Secure C
  hr

  br
  <div class="row">
    <div class="column">
      img(src = "./0-intro/figs/cert-c.jpeg" alt = "Cert C"
        width = 400 height = auto)
    </div>
    <div class="column">
      img(src = "./0-intro/figs/c-pitfalls.jpg", alt = "C Traps and Pitfalls",
        width = 350, height = auto)
    </div>
  </div>

section
  h2 How to Obtain a Random Number (Revisited)?
  hr

  br
  img(src = "./0-intro/figs/huawei-rand.png" alt = "Huawei Rand()",
    width = 1000 height = auto)

section
  h2 What is Next?
  hr

  br
  ul
    li Variables and Types (<code>int</code>, <code>double</code>)
    li Math: computer arithmetic
    li Input/Ouput (I/O)
    br
    li Branching: "if/else", "switch/case"
    li Looping: "while", "do/while", "for"
    li Jumps: "break", "continue", "goto"
    br
    li Functions & Libraries

section
  h2 Keeping Programming
  hr

  br
  img(src = "./0-intro/figs/GitHub-Classroom.png" alt = "GitHub Classroom"
    width = 600 height = auto)

  p
    a(class = "button" href = "https://www.bilibili.com/video/BV12L41147r7?share_source=copy_web") GitHub Classroom @ Bilibili

section
  h2 No Plagiarism!!!
  hr

  br
  img(src = "./0-intro/figs/plagiarism.jpg" alt = "Plagiarism"
    width = 700 height = auto)
  p 前两次各扣 10 分, 第三次总分降为 60 分 $\;(\times\; 60\%)$

//- resources
section
  h2 Resources
  hr

  br
  img(src = "./0-intro/figs/QQ-2021-C-PL-qrcode.png" alt = "QQ Group"
      width = 350 height = auto)
  p 6735 99232 &emsp; 2021-C-PL

section
  h2 Resources
  hr

  br
  <div class="row">
    <div class="column">
      br
      img(src = "./0-intro/figs/teaching-square-logo.png" alt = "Logo for Teaching Square"
          width = 400 height = auto)
    </div>
    <div class="column">
      img(src = "./0-intro/figs/qrcode-teachingsquare-c-pl.jpg" alt = "Teaching Square for C Class"
        width = 350 height = auto)
    </div>
  </div>
  p 发布课件、资料、调查问卷等

section
  h2 Resources
  hr

  br
  img(src = "./0-intro/figs/problemoverflow-qa.png" alt = "problemoverflow.cn"
    width = 800 height = auto)

  p
    a(class = "button" href = "problemoverflow.cn") problemoverflow.cn

section
  h2

  br
  br
  img(src = "./0-intro/figs/see-you.jpeg" alt = "See you Next Week",
    width = 500 height = auto)