section
  h1(style="font-variant: small-caps") Function
  hr

  br
  h4 Hengfeng Wei
  h4 <u>hfwei@nju.edu.cn</u>

  //- br
  img(src = "./5-function/figs/C.png", alt = "The C Programming Language",
      width = 200, height = auto)
  p Nov. 08, 2021

section
  h2 Review
  hr

  br
  br
  h3 Loops (More Examples)
  br
  h3 Multidimensional Arrays

section
  h2 Overview
  hr

  br
  br
  h1 Functions

section
  h2(class = "r-fit-text" style="font-variant: small-caps") "Talk is Cheap. Show me the Code."
  hr

  br
  img(src = "./5-function/figs/coding.png" alt = "Let's Code"
    width = 800 height = auto)

section
  br
  img(src = "./5-function/figs/transformers.png" alt = "Transformers"
    width = 800 height = auto)
  br
  p(class = "r-fit-text" style = "font-variant: small-caps") Re-writing Programs using Functions