section
  h1(style="font-variant: small-caps") Function
  hr

  br
  h4 Hengfeng Wei
  h4 <u>hfwei@nju.edu.cn</u>

  //- br
  img(src = "./4-loops/figs/C.png", alt = "The C Programming Language",
      width = 200, height = auto)
  p Nov. 08, 2021

section
  h2 Review
  hr

  br
  br
  h3 Loops (More Examples)
  br
  h3 Multidimensional Arrays

section
  h2 Overview
  hr

  br
  p Functions

section
  h2(class = "r-fit-text" style="font-variant: small-caps") "Talk is Cheap. Show me the Code."
  hr

  br
  //- img(src = "./4-loops/figs/let-us-code.png" alt = "Keep Calm and Let us Code"
  //-   width = 200 height = auto)
  img(src = "./4-loops/figs/coding.png" alt = "Let's Code"
    width = 800 height = auto)

//- Coding
section
  h2 Functions
  hr

  br
  img(src = "./5-function/figs/" alt = "Change"
    width = 900 height = auto)