section
  h1(style="font-variant: small-caps") For a While
  hr

  br
  h4 Hengfeng Wei
  h4 <u>hfwei@nju.edu.cn</u>

  //- br
  img(src = "./2-if-for-array/figs/C.png", alt = "The C Programming Language",
      width = 200, height = auto)
  p Oct. 25, 2021

section
  h2 Review
  hr

  br
  h3 If Statement
  br
  h3 For Statement
  br
  h3 Logical Expressions
  br
  h3 Array

section
  h2 Overview
  hr

  br
  h3 For Statement (More)
  br
  h3 While (Do-While) Statement
  br
  h3 Break

section
  h2(class = "r-fit-text" style="font-variant: small-caps") "Talk is Cheap. Show me the Code."
  hr

  img(src = "./0-intro/figs/lets-code.jpeg" alt = "Let's Code"
    width = 600 height = auto)

section
  h2 Stars Pyramid
  hr

  br
  img(src = "./3-for-a-while/figs/stars.jpg" alt = "Stars Pyramid"
    width = 800 height = auto)
  br
  p <code>stars.c</code>

section
  h2 Prime Numbers
  hr

  br
  img(src = "./3-for-a-while/figs/prime.jpg" alt = "Prime Numbers"
    width = 800 height = auto)
  br
  p <code>prime.c &emsp; primes.c</code>

section
  h2 Selection Sort
  hr

  br
  img(src = "./3-for-a-while/figs/selection-sort.png" alt = "Selection Sort"
    width = 800 height = auto)
  br
  p <code>selection-sort.c</code>

section
  h2 Palindrome
  hr

  br
  img(src = "./3-for-a-while/figs/palindrome.png" alt = "Palindrome"
    width = 800 height = auto)
  br
  p <code>palindrome.c</code>

section
  h2 Binary Search
  hr

  br
  img(src = "./3-for-a-while/figs/binary-search-mario.png" alt = "Binary Search Super Mario"
    width = 800 height = auto)
  br
  p <code>binary-search.c</code>

section
  h2 Number of Digits
  hr

  br
  img(src = "./3-for-a-while/figs/digits.jpg" alt = "Number of Digits"
    width = 800 height = auto)
  br
  p <code>digits-while.c &emsp; digits-do-while.c</code>

section
  h2 Counting
  hr

  br
  img(src = "./3-for-a-while/figs/counting.jpg" alt = "Counting"
    width = 800 height = auto)
  br
  p <code>counting-if.c &emsp; counting-switch.c</code>