section
  h1(style="font-variant: small-caps") Linked Lists
  hr

  br
  h4 Hengfeng Wei
  h4 <u>hfwei@nju.edu.cn</u>

  img(src = "./11-linkedlist/figs/C.png", alt = "The C Programming Language",
      width = 200, height = auto)
  p Dec. 20, 2021

section
  h2 Review and Overview
  hr

  p Program Arguments &emsp; Function Pointer
  img(src = "./11-linkedlist/figs/c-struct.png", alt = "C Struct",
      width = 600, height = auto)
  p <code><mark>struct</mark></code> &emsp; <code>union</code> &emsp; <code><mark>enum</mark></code>

section
  h2 Overview: Linked Lists
  hr

  br
  br
  br
  img(src = "./11-linkedlist/figs/sll.jpg", alt = "Singly Linked List",
      width = 1000, height = auto)

section
  h2(class = "r-fit-text" style="font-variant: small-caps") "Talk is Cheap. Show me the Code."
  hr

  br
  img(src = "./10-struct/figs/coding.png" alt = "Let's Code" width = 800 height = auto)

section
  h2 <code>struct</code>
  hr

  img(src = "./11-linkedlist/figs/luo-cui-zhang.jpeg", alt = "Luo-Cui-Zhang",
      width = 800, height = auto)
  p <code>musician.c</code>

section
  h2 Linked Lists
  hr

  br
  img(src = "./11-linkedlist/figs/sll.jpg", alt = "Singly Linked List",
      width = 800, height = auto)
  p Singly Linked List
  br
  br
  img(src = "./11-linkedlist/figs/dll.jpg", alt = "Doubly Linked List",
      width = 1000, height = auto)
  p Doubly Linked List

section
  h2 Linked Lists
  hr

  br
  br
  br
  img(src = "./11-linkedlist/figs/cll.jpg", alt = "Circular Linked List",
      width = 700, height = auto)
  p Circular Linked List

section
  h2 Josephus Problem
  hr

  br
  img(src = "./11-linkedlist/figs/J.jpg", alt = "Josephus Problem",
      width = 600, height = auto)

  br
  img.fragment(src = "./11-linkedlist/figs/cll.jpg", alt = "Circular Linked List",
      width = 600, height = auto)


section
  h2 终结章
  hr

  video(width = '800' height = '600' controls)
    source(src = './luo.mp4' type='video/mp4')
    | Your browser does not support the video tag.